@using SmartShades.Web.Startup
@model SmartShades.Web.Models.Home.DashboardViewModel

@{
    ViewBag.Title = L("Dashboard");
    ViewBag.CurrentPageName = PageNames.Home;
}

@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Home/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Home/Index.js" asp-append-version="true"></script>
    </environment>
}

<div class="side-bubble">
    <div class="bubble"></div>
</div>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">@L("Dashboard")</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="header">
            <div class="user-bubble">
                <i class="fas fa-user" style="font-size: 6rem"></i>
            </div>
            <div class="col ml-4">
                <div class="greeting">
                    Good Afternoon!
                </div>
                <div class="temperature">
                    <div class="temp">
                        72<span style="color: #9c9c9c">&#176;F</span>
                        <span class="small-label-gray"> <br />Inside</span>
                    </div>
                    <div class="temp ml-4">
                        89<span style="color: #9c9c9c">&#176;F</span>
                        <span class="small-label-gray"> <br />Outside</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col justify-content-center align-items-center text-center">
            <h3>Rooms</h3>
            <div class="col align-items-center">
                @foreach (var room in Model.Rooms)
                {
                    <div class="room-card">
                        <div class="col justify-content-center align-items-center">
                            <i class="fas @room.Icon"></i>
                            <span>@room.RoomType</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<style>
    .side-bubble {
        position: absolute;
        left: 0;
        top: 0;
    }

    .bubble {
        background-color: rgba(88,149,249,.5);
        border-radius: 50%;
        width: 75vh;
        height: 75vh;
        transform: translate(-60%, 20%);
    }

    .header {
        padding: 2rem;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-left: 50px;
    }

    .user-bubble {
        background-color: rgba(88,149,249,.5);
        border-radius: 50%;
        color: white;
        width: 250px;
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .greeting {
        font-size: 3rem;
        color: #9c9c9c;
    }

    .temperature {
        display: flex;
    }

    .temp {
        position: relative;
        font-size: 2.25rem;
    }

    .small-label-gray {
        font-size: 1.5rem;
        color: #9c9c9c;
    }

    .room-card {
        background-color: #5895f9;
        border-radius: 10px;
        text-align: center;
        width: 1000px;
        height: 250px;
        color: white;
        margin: 20px auto;
        font-size: 3rem;
        padding: 40px;
        transition: all ease .3s;
    }

    .room-card:hover {
        cursor: pointer;
        transform: scale(1.01);
    }
</style>
